/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
  overflow-x: hidden;
}

.beranda {
  background-color: #51c26676;
  color: black;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 0px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  background-color: #eae1e19c;
  border-radius: 10px;
}

.nav-links li a {
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  margin: 0;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links li a.active {
  background-color: #5c40f7;
  box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  border-radius: 10px;
}

.nav-links li a:hover {
  background-color: #444;
  box-shadow: 0 0 8px #00ffff;
  border-radius: 10px;
}

.hero {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: linear-gradient(10deg, #543d71 10%, #5adc3ccd 50%, #f50d28cd 30%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2.5s infinite linear;
}

@keyframes shine {
  100% {
    background-position: -100% 0;
  }
  0% {
    background-position: 100% 0;
  }
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background: #ffb347;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0px;
}

.btn-primary:hover {
  background: #ffa726;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-size: 18px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

/* Media Query */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
    padding-left: 0;
  }

  .nav-links li {
    margin: 5px;
  }

  .nav-links li a {
    padding: 8px 12px;
    font-size: 14px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .btn-primary {
    padding: 8px 16px;
  }

  .container {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: 14px;
  }
}